@font-face {
  font-family: 'D-DIN';
  src: url(../godotdocs/fonts/D-DIN.woff2) format("woff2");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'D-DIN-Bold';
  src: url(../godotdocs/fonts/D-DIN-Bold.woff2) format("woff2");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'D-DINCon';
  src: url(../godotdocs/fonts/D-DINCondensed.woff2) format("woff2");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'D-DINCon-Bold';
  src: url(../godotdocs/fonts/D-DINCondensed-Bold.woff2) format("woff2");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'D-DINExp';
  src: url(../godotdocs/fonts/D-DINExp.woff2) format("Woff2");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'D-DINExp-Bold';
  src: url(../godotdocs/fonts/D-DINExp-Bold.woff2) format("woff2");
  font-style: normal;
  font-display: block;
}
html,
body {
  min-width: 290px;
  color: #eeeeee;
  background-color: #0a0713;
  font-family: 'D-DIN';
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: none;
  background-color: #120c24;
}

#navbar > header {
  margin-top: 20px;
  font-family: 'D-DINExp-Bold';
  text-transform: uppercase;
  color: #6544e9;
}

a {
  text-decoration: none;
  color: #8068e2;
}

header {
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-family: 'D-DINExp-Bold';
}

#main-doc header {
  text-align: left;
  margin: 0px;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  margin: 10px;
  list-style: none;
  position: relative;
  width: 92%;
  background-color: #18112c;
  border-radius: 10px;
  box-sizing: content-box;
  text-align: center;
}
#navbar li:hover {
  background-color: #6544e9;
  transition: 0.3s ease-in;
}
#navbar a {
  font-family: sans-serif;
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; 
}
#main-doc {
  position: absolute;
  margin-left: 320px;
  padding: 20px;
  margin-bottom: 110px;
  font-family: 'D-DIN';
  font-weight: 100;
}
img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
section {
  margin-bottom: 70px;
}
section article {
  color: #ffffff;
  margin: 0px;
  font-size: 1em;
}

section li {
  margin: 10px 0px 0px 0px;
  list-style: none;
}

#Reference li {
  margin-top: 0;
}

code {
  display: inline-block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: #6544e9;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    border-color: #6544e9;
    height: 207px;
  }

  #navbar {
    background-color: #120c24;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: none;
  }

  #navbar li {}
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}
